.button {
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  text-align: center;
}

.login {
  background-color: #e50914;
  margin: 15px 10px;
}

.play {
  background-color: white;
  color: black;
  z-index: 10;
  min-width: 270px;
  min-height: 60px;
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.4rem;
}

.info {
  background-color: #6d6d6eb3;
  z-index: 10;
  min-width: 270px;
  min-height: 60px;
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.4rem;
}

.icon {
  font-size: 20px;
  margin: auto 5px;
}

@media (min-width: 1000px) {
  .login {
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
  }
}

@media (min-width: 750px) {
}
