.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  z-index: 100;
  height: 3rem;
}

.browser {
  position: relative;
  background-color: transparent;
  padding-top: 0.5rem;
}

.login {
  position: relative;
  background-color: black;
  padding-top: 0.5rem;
}

.home {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  position: absolute;
  z-index: 11;
  color: white;
  .deskNav {
    display: none;
  }
  .mobNav {
    display: block;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0;
    list-style: none;
    li {
      margin: 0 auto;
    }
  }
}

@media (min-width: 750px) {
  .home {
    background-color: rgba(0, 0, 0, 0.411);
    .deskNav {
      display: block;
      display: flex;
      width: 100%;
      justify-content: space-between;
      .firstNav {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        list-style: none;
        li {
          cursor: pointer;
          strong {
            text-decoration: none;
            list-style: none;
          }
          margin-right: 15px;
          font-size: 14px;
          display: flex;
        }
      }
      .searchBox {
        display: none;
      }
    }
    .mobNav {
      display: none;
    }
  }
}

@media (min-width: 1000px) {
  .browser {
    margin: auto 50px;
  }
  .homeActive {
    background-color: black;
  }
  .home {
    padding: 0 60px;
    background-color: rgba(0, 0, 0, 0.521);
    .deskNav {
      .firstNav {
        margin: auto 50px;
        width: 50%;
      }
      .searchBox {
        display: block;
        width: 250px;
        margin: auto 0;
        text-align: right;
        .search {
          text-align: right;
          bottom: px;
          color: white;
          z-index: 10;
          cursor: pointer;
          transition: ease transform 1s;
          transition-delay: 50ms;
        }
        .inputSearch {
          width: 200px;
          color: white;
          height: 25px;
          margin: 0 6px;
          outline: none;
          background: rgba(0, 0, 0, 0.85);
          border: solid 1px rgba(255, 255, 255, 0.85);
          transition: ease width 1s, ease opacity 1s;
        }
      }
    }
  }

  .login {
    margin: auto 50px;
    background-color: transparent;
  }
}
