.containerLogin {
  position: relative;
  width: 100%;
  padding: 15px 0;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .h2 {
    font-weight: 200;
    margin-top: 10px;
  }
}

.centerText {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  .h2 {
    font-weight: 200;
  }
}

.banner {
  position: absolute;
  width: 90%;
  z-index: 10;
  margin: 0 auto;
  top: 20%;
  left: 0;
  right: 0;

  img {
    width: 220px;
    margin: 0 60px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  h2 {
    display: none;
  }
}

@media (min-width: 750px) {
  .banner {
    margin: 0;
    top: 15%;

    img {
      margin: 0 20px;
    }
  }
}

@media (min-width: 1000px) {
  .containerLogin {
    padding: 75px 0 20px;
    .h1 {
      font-size: 4rem;
    }
  }

  .banner {
    width: 50%;
    color: white;
    display: block;
    top: 125px;
    margin: 0 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    img {
      width: auto;
      margin: 0 15px;
    }
    h2 {
      display: block;
      width: 680px;
      margin: 16.8px 16.8px;
      color: #fff;
      line-height: normal;
      font-weight: 400;
      font-size: 1.4vw;
      text-shadow: 2px 2px 4px black;
    }
  }
}
