.container {
  width: 300px;
  margin: 0;
  user-select: none;
  z-index: 10;
  .filmSeason {
    width: 165px;
    margin: 0;
    flex-direction: column;
    font-size: 1.5em;
    background-color: rgb(36, 36, 36);
    padding: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 0.1em solid rgb(77, 77, 77);
    border-radius: 0.2em;
  }

  .seasons {
    display: none;
    position: absolute;
    text-align: center;
    right: 10px;
    width: 280px;
    font-size: 1.5em;
    padding: 0;
    margin-top: 10px;
    background-color: rgb(36, 36, 36);
    color: white;
    cursor: pointer;
    border: 0.1em solid rgb(77, 77, 77);
    border-radius: 0.2em;

    li {
      list-style: none;
      width: 100%;
      height: 40px;
      margin: 20px 0 0;

      &:hover {
        background-color: #333;
      }
    }

    &.visible {
      display: block;
    }
  }
}

@media (min-width: 750px) {
  .container {
    .filmSeason {
      width: 200px;
      padding: 0.5em 1em;
    }
    .seasons {
      right: 50px;
    }
  }
}
